<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

-   Collect exchange rate data using an API
-   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [2]:
!mamba install pandas==1.3.3 -y
!mamba install requests==2.26.0 -y

                  __    __    __    __
                 /  \  /  \  /  \  /  \
                /    \/    \/    \/    \
███████████████/  /██/  /██/  /██/  /████████████████████████
              /  / \   / \   / \   / \  \____
             /  /   \_/   \_/   \_/   \    o \__,
            / _/                       \_____/  `
            |/
        ███╗   ███╗ █████╗ ███╗   ███╗██████╗  █████╗
        ████╗ ████║██╔══██╗████╗ ████║██╔══██╗██╔══██╗
        ██╔████╔██║███████║██╔████╔██║██████╔╝███████║
        ██║╚██╔╝██║██╔══██║██║╚██╔╝██║██╔══██╗██╔══██║
        ██║ ╚═╝ ██║██║  ██║██║ ╚═╝ ██║██████╔╝██║  ██║
        ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚═════╝ ╚═╝  ╚═╝

        mamba (1.4.2) supported by @QuantStack

        GitHub:  https://github.com/mamba-org/mamba
        Twitter: https://twitter.com/QuantStack

█████████████████████████████████████████████████████████████


Looking for: ['pandas==1.3.3']

pkgs/main/linux-64                                          Using cache
pkgs/main/noarch                                            Using cache
pkgs/r/linux-64                                             Using cache
pkgs/r/noarch                                               Using cache

Pinned packages:
  - python 3.7.*


Transaction

  Prefix: /home/jupyterlab/conda/envs/python

  All requested packages already installed


                  __    __    __    __
                 /  \  /  \  /  \  /  \
                /    \/    \/    \/    \
███████████████/  /██/  /██/  /██/  /████████████████████████
              /  / \   / \   / \   / \  \____
             /  /   \_/   \_/   \_/   \    o \__,
            / _/                       \_____/  `
            |/
        ███╗   ███╗ █████╗ ███╗   ███╗██████╗  █████╗
        ████╗ ████║██╔══██╗████╗ ████║██╔══██╗██╔══██╗
        ██╔████╔██║███████║██╔████╔██║██████╔╝███████║
        ██║╚██╔╝██║██╔══██║██║╚██╔╝██║██╔══██╗██╔══██║
        ██║ ╚═╝ ██║██║  ██║██║ ╚═╝ ██║██████╔╝██║  ██║
        ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚═════╝ ╚═╝  ╚═╝

        mamba (1.4.2) supported by @QuantStack

        GitHub:  https://github.com/mamba-org/mamba
        Twitter: https://twitter.com/QuantStack

█████████████████████████████████████████████████████████████


Looking for: ['requests==2.26.0']

pkgs/main/linux-64                                          Using cache
pkgs/main/noarch                                            Using cache
pkgs/r/linux-64                                             Using cache
pkgs/r/noarch                                               Using cache

Pinned packages:
  - python 3.7.*


Transaction

  Prefix: /home/jupyterlab/conda/envs/python

  Updating specs:

   - requests==2.26.0
   - ca-certificates
   - certifi
   - openssl


  Package               Version  Build         Channel              Size
──────────────────────────────────────────────────────────────────────────
  Downgrade:
──────────────────────────────────────────────────────────────────────────

  - charset-normalizer    3.1.0  pyhd8ed1ab_0  conda-forge
  + charset-normalizer    2.0.4  pyhd3eb1b0_0  pkgs/main/noarch     35kB
  - requests             2.29.0  pyhd8ed1ab_0  conda-forge
  + requests             2.26.0  pyhd3eb1b0_0  pkgs/main/noarch     61kB

  Summary:

  Downgrade: 2 packages

  Total download: 96kB

──────────────────────────────────────────────────────────────────────────


[+] 0.0s
Downloading  (1) ━━━━━━━╸━━━━━━━━━━━━━━━   0.0 B charset-normalizer         0.0s
Extracting       ━━━━━━━━━━━━━━━━━━━━━━━       0                            0.0s[+] 0.1s
Downloading  (2) ━━━━━━━━━━━━━━━━━━━━━━━   0.0 B charset-normalizer         0.1s
Extracting       ━━━━━━━━━━━━━━━━━━━━━━━       0                            0.0scharset-normalizer                                  35.4kB @ 251.3kB/s  0.1s
requests                                            60.7kB @ 411.6kB/s  0.1s
[+] 0.2s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  96.1kB                            0.2s
Extracting   (2) ━━━━━━━╸━━━━━━━━━━━━━━━       0 charset-normalizer         0.0s[+] 0.3s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  96.1kB                            0.2s
Extracting   (2) ━━━━━━━━╸━━━━━━━━━━━━━━       0 charset-normalizer         0.1s[+] 0.4s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  96.1kB                            0.2s
Extracting   (2) ━━━━━━━━━╸━━━━━━━━━━━━━       0 charset-normalizer         0.2s[+] 0.5s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  96.1kB                            0.2s
Extracting   (2) ━━━━━━━━━━╸━━━━━━━━━━━━       0 charset-normalizer         0.3s[+] 0.6s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  96.1kB                            0.2s
Extracting   (2) ━━━━━━━━━━━╸━━━━━━━━━━━       0 requests                   0.4s[+] 0.7s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  96.1kB                            0.2s
Extracting   (2) ━━━━━━━━━━━━━╸━━━━━━━━━       0 requests                   0.5s[+] 0.8s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  96.1kB                            0.2s
Extracting   (2) ━━━━━━━━╸━━━━━━━━━━━━━━       0 requests                   0.6s[+] 0.9s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  96.1kB                            0.2s
Extracting       ━━━━━━━━━━━━━━━━━━━━━━━       2                            0.7s
Downloading and Extracting Packages

Preparing transaction: done
Verifying transaction: done
Executing transaction: done

## Imports

Import any additional libraries you may need here.

In [3]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data. 
1. Open the url : https://exchangeratesapi.io/ and click on **Get Free API Key**. 
2. Subscribe for Free plan and Sign-in with the Google Account. 
3. Once the account is created you will be redirected to https://apilayer.com website.
2. Now, click on the **user icon** and click **Account** as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/account.png">

3. Scroll down and you will get the API Key section. Copy the API key and use in the url in Question 1.

### Call the API

 <b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [4]:
# Write your code here
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=f6992e472ea24878d19e0650dab8a44a"  #Make sure to change ******* to your API key.

### Save as DataFrame

 <b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [8]:
# Turn the data into a dataframe
import requests
import pandas as pd

data = requests.get(url)
data = data.json()
df = pd.DataFrame.from_dict(data)
df.index.name = 'currency'
df

          success   timestamp base        date        rates
currency
AED          True  1694023143  EUR  2023-09-06     3.940600
AFN          True  1694023143  EUR  2023-09-06    85.828282
ALL          True  1694023143  EUR  2023-09-06   107.603972
AMD          True  1694023143  EUR  2023-09-06   413.938524
ANG          True  1694023143  EUR  2023-09-06     1.931999
...           ...         ...  ...         ...          ...
YER          True  1694023143  EUR  2023-09-06   268.588590
ZAR          True  1694023143  EUR  2023-09-06    20.619068
ZMK          True  1694023143  EUR  2023-09-06  9656.960753
ZMW          True  1694023143  EUR  2023-09-06    22.056316
ZWL          True  1694023143  EUR  2023-09-06   345.457911

[170 rows x 5 columns]

In [13]:
# Drop unnescessary columns
# df = df.drop(['success', 'timestamp', 'base', 'date'], axis = 1)
df

                rates
currency
AED          3.940600
AFN         85.828282
ALL        107.603972
AMD        413.938524
ANG          1.931999
...               ...
YER        268.588590
ZAR         20.619068
ZMK       9656.960753
ZMW         22.056316
ZWL        345.457911

[170 rows x 1 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [15]:
# Save the Dataframe
df.to_csv('exchange_rates_1', index = True)

Your CSV should be in this format with more currencies

| | Rates |
| ------- | ------- |
|  AED| 4.398618    |
|  AFN| 92.917693   |  
|  ALL| 123.099093  |
|  AMD| 621.935674  |
|  ANG| 2.149648    |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2022-05-06        | 0.3     | Malika            | Updated instructions to get the API and the url|
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).